<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <UI>
    <WindowTitle>Program Updater</WindowTitle>
    <TitleText>Program Update in Progress</TitleText>
  </UI>
  <Configuration>
    <ConfigurationFilePath>https://raw.githubusercontent.com/yuseok-kim-edushare/Program-Updater-for-Windows/refs/heads/main/example.json</ConfigurationFilePath>
  </Configuration>
</Settings> 